.displaybox {
  position: relative;
  width: 98.5%;
  height: 72px;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  margin: auto;
  padding: 10px 14px 0px 50px;
  box-sizing: border-box;
}

.main_input {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px 15px;
  font-size: 25px;
  white-space: nowrap;
  display: block;
}
